export MYSQL__HOST=127.0.0.1
export MYSQL__PORT=3307
export MYSQL__DATABASE=todo_project
export MYSQL__USERNAME=root
export MYSQL__PASSWORD=root

export SERVER__HTTP__HOST=127.0.0.1
export SERVER__HTTP__PORT=10080
export SERVER__GRPC__HOST=127.0.0.1
export SERVER__GRPC__PORT=10443

export JAEGER__HOST='localhost'
export JAEGER__PORT=6831
export JAEGER__RATIO=0.5
export LOG__LEVEL=debug